# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# macOS
.DS_Store

# Logs
*.log
tracker.log
tracker_error.log

# Database
database/*.db
*.sqlite3

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/tracker_log.txt
tracker/tracker_log.txt
